# Ignore Python cache directories
**/__pycache__/

# Ignore virtual environments
**/.venv/
**/venv/
**/.venv-arm64/
**/.venv-x86_64/

# Ignore VS Code settings
**/.vscode/

**/.DS_Store

.VSCodeCounter/

notes.txt

avarage.py